<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block titel %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filname='style.css') }}">
</head>
<body>
    <header>
        <a href="/karfa/"><img class="karfa" src="/static/karfa.jpg"></a>
        {% if 'karfa' in session: %}
            <span> ( {{ fjoldi }} )</span>
        {% else %}
            <span>( 0 )</span>
        {% endif %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <h3>&copy; 2019 DSG % GJG</h3>
    </footer>
</body>
</html>